<div class = 'col-xs-10 col-xs-offset-1' 'center'>
	<table id = 'chess'>
		<!--# maping the board with row and index -->
		<% @board.each_index do |y| %>
			<tr class ='<%= y %>' >
			<!-- # maping the board with col and index -->				
				<% @board[y].each_index do |x| %> 
					<!-- if the square is empty return blank space -->
					<% if @board[y][x].nil? %>
						<td class='<%= x %>'>
							<!-- change the value of the piece, puts empty spaces -->
							<%= link_to game_piece_update_path(:x_position => x, :y_position => y), :method => 'put' do %>
							<p>&nbsp; &nbsp; &nbsp;</p>
							<p>&nbsp; &nbsp; &nbsp;</p>
							<% end %>
						</td>
						
					<% elsif @board[y][x] == @piece %>
						<!-- Highlights the piece to move -->
						<td class='<%= x %> piece_to_move'>
							<%= image_tag @piece.image_name %>
						</td>
					<% else %>
					<!-- moves the piece then returns the original game board-->
						<td class='<%= x %>'>
							<%= link_to game_piece_select_path(@board[y][x].game_id, @board[y][x].id) do %>
							<%= link_to game_piece_update_path(:x_position => x, :y_position => y), :method => 'put' do %>
							<%= image_tag @board[y][x].image_name, :class => 'responsive' %>
							<% end %>
							<% end %>
						</td>
					<% end %>
				<% end %>
			</tr>
		<% end %>
	</table>
</div>


