<h1><%= @game.name %></h1>

<%=
  link_to 'delete game', game_path(@game), :method => :delete, 
    :data => {
     :confirm => 'Are you sure you want to delete this game?'
  } 
%>

<%= link_to 'update game', edit_game_path(@game) %>


<table id="chess_board" class="center">
    <tr> <!-- top row -->
        <td id="07"><a href ="#"><%= piece_at(0, 7) %></a></td>
        <td id="17"><a href ="#"><%= piece_at(1, 7) %></a></td>
        <td id="27"><a href ="#"><%= piece_at(2, 7) %></a></td>
        <td id="37"><a href ="#"><%= piece_at(3, 7) %></a></td>
        <td id="47"><a href ="#"><%= piece_at(4, 7) %></a></td>
        <td id="57"><a href ="#"><%= piece_at(5, 7) %></a></td>
        <td id="67"><a href ="#"><%= piece_at(6, 7) %></a></td>
        <td id="77"><a href ="#"><%= piece_at(7, 7) %></a></td>
    </tr>
    <tr> <!-- second row -->
        <td id="06"><a href ="#"><%= piece_at(0, 6) %></a></td>
        <td id="16"><a href ="#"><%= piece_at(1, 6) %></a></td>
        <td id="26"><a href ="#"><%= piece_at(2, 6) %></a></td>
        <td id="36"><a href ="#"><%= piece_at(3, 6) %></a></td>
        <td id="46"><a href ="#"><%= piece_at(4, 6) %></a></td>
        <td id="56"><a href ="#"><%= piece_at(5, 6) %></a></td>
        <td id="66"><a href ="#"><%= piece_at(6, 6) %></a></td>
        <td id="76"><a href ="#"><%= piece_at(7, 6) %></a></td>
    </tr>
    <tr> <!-- third row -->
        <td id="05"><a href ="#"></a></td>
        <td id="15"><a href ="#"></a></td>
        <td id="25"><a href ="#"></a></td>
        <td id="35"><a href ="#"></a></td>
        <td id="45"><a href ="#"></a></td>
        <td id="55"><a href ="#"></a></td>
        <td id="65"><a href ="#"></a></td>
        <td id="75"><a href ="#"></a></td>
    </tr>
    <tr><!-- fourth row -->
        <td id="04"><a href ="#"></a></td>
        <td id="14"><a href ="#"></a></td>
        <td id="24"><a href ="#"></a></td>
        <td id="34"><a href ="#"></a></td>
        <td id="44"><a href ="#"></a></td>
        <td id="54"><a href ="#"></a></td>
        <td id="64"><a href ="#"></a></td>
        <td id="74"><a href ="#"></a></td>
    </tr>
    <tr><!-- firth row -->
        <td id="03"><a href ="#"></a></td>
        <td id="13"><a href ="#"></a></td>
        <td id="23"><a href ="#"></a></td>
        <td id="33"><a href ="#"></a></td>
        <td id="43"><a href ="#"></a></td>
        <td id="53"><a href ="#"></a></td>
        <td id="63"><a href ="#"></a></td>
        <td id="73"><a href ="#"></a></td>
    </tr>
    <tr><!-- sixth row -->
        <td id="12"><a href ="#"></a></td>
        <td id="22"><a href ="#"></a></td>
        <td id="32"><a href ="#"></a></td>
        <td id="42"><a href ="#"></a></td>
        <td id="42"><a href ="#"></a></td>
        <td id="52"><a href ="#"></a></td>
        <td id="62"><a href ="#"></a></td>
        <td id="72"><a href ="#"></a></td>
    </tr>
    <tr><!-- seventh row -->
        <td id="01"><a href ="#"><%= piece_at(0, 1) %></a></td>
        <td id="11"><a href ="#"><%= piece_at(1, 1) %></a></td>
        <td id="21"><a href ="#"><%= piece_at(2, 1) %></a></td>
        <td id="31"><a href ="#"><%= piece_at(3, 1) %></a></td>
        <td id="41"><a href ="#"><%= piece_at(4, 1) %></a></td>
        <td id="51"><a href ="#"><%= piece_at(5, 1) %></a></td>
        <td id="61"><a href ="#"><%= piece_at(6, 1) %></a></td>
        <td id="71"><a href ="#"><%= piece_at(7, 1) %></a></td>
    </tr>
    <tr><!-- eighth row -->
        <td id="00"><a href ="#"><%= piece_at(0, 0) %></a></td>
        <td id="10"><a href ="#"><%= piece_at(1, 0) %></a></td>
        <td id="20"><a href ="#"><%= piece_at(2, 0) %></a></td>
        <td id="30"><a href ="#"><%= piece_at(3, 0) %></a></td>
        <td id="40"><a href ="#"><%= piece_at(4, 0) %></a></td>
        <td id="50"><a href ="#"><%= piece_at(5, 0) %></a></td>
        <td id="60"><a href ="#"><%= piece_at(6, 0) %></a></td>
        <td id="70"><a href ="#"><%= piece_at(7, 0) %></a></td>
    </tr>
</table>