<h1><%= @game.name %></h1>

<% if @game.black_user.nil? %>
  <%= link_to game_join_path(@game), :method => :join, 
    :class => 'btn btn-primary btn-sm' do %>
    Join game
  <% end %>
<% end %>

<%= link_to game_path(@game), :method => :delete, 
    :class => 'btn btn-primary btn-sm',
    :data => {
     :confirm => 'Are you sure you want to delete this game?' } do %>
    Delete game
<% end %>

<%= link_to edit_game_path(@game), :class => 'btn btn-primary btn-sm' do %>
  Update game
<% end %>

<h5>White Player: <%= @game.white_user.email %></h5>
<% if @game.black_user %>
  <h5>Black Player: <%= @game.black_user.email %></h5>
<% else %>
  <h5>Black Player: ?? </h5>
<% end %>

<br><br>

<div class='col-xs-10 col-xs-offset-1' 'center'>
  <table id='chess'>
    <!--# maping the board with row and index -->
    <% @board.each_index do |y| %>
      <!-- #class row -->
      <tr class='<%= y %>' >
        <!-- # maping the board with col and index -->
        <% @board[y].each_index do |x| %> 
          <!-- # checks if the square is empty, if it is return square-->
          <% if @board[y][x].nil? %> 
           <!-- #class column -->
            <td class='<%= x %>'></td>
          <% else %>
            <!-- # class column -->
            <td class='<%= x %>'>
             <!-- # if a piece returns true => provide link to move to a seperate board for that piece -->
              <%= link_to game_piece_select_path(@board[y][x].game_id, @board[y][x]) do %>
             <!-- # returns image of that piece -->
              <%= image_tag @board[y][x].image_name, :class => 'responsive' %>
              <% end %>
            </td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>

<p>
<br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br />
</p>
